USE [master]
GO
/****** Object:  Database [Flights_Data]    Script Date: 6/05/2025 7:15:55 p. m. ******/
CREATE DATABASE [Flights_Data]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Flights_Data', FILENAME = N'C:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Flights_Data.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Flights_Data_log', FILENAME = N'C:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Flights_Data_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Flights_Data].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Flights_Data]
GO
/****** Object:  Table [dbo].[Airports_US]    Script Date: 6/05/2025 7:15:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airports_US](
	[ID] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
	[IATA] [varchar](50) NULL,
	[ICAO] [varchar](50) NULL,
	[Latitud] [varchar](50) NULL,
	[Longitud] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flights_US]    Script Date: 6/05/2025 7:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights_US](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[city1] [varchar](50) NULL,
	[city2] [varchar](50) NULL,
	[airport1] [varchar](50) NULL,
	[airport2] [varchar](50) NULL,
	[nsmiles] [varchar](50) NULL,
	[passengers] [int] NULL,
	[fare] [varchar](50) NULL,
	[latitude_airport1] [varchar](50) NULL,
	[longitude_airport1] [varchar](50) NULL,
	[latitude_airport2] [varchar](50) NULL,
	[longitude_airport2] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flights_US_Backup1]    Script Date: 6/05/2025 7:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights_US_Backup1](
	[ID] [int] NULL,
	[date] [date] NULL,
	[city1] [varchar](50) NULL,
	[city2] [varchar](50) NULL,
	[airport1] [varchar](50) NULL,
	[airport2] [varchar](50) NULL,
	[nsmiles] [varchar](50) NULL,
	[passengers] [int] NULL,
	[fare] [varchar](50) NULL,
	[latitude_airport1] [varchar](50) NULL,
	[longitude_airport1] [varchar](50) NULL,
	[latitude_airport2] [varchar](50) NULL,
	[longitude_airport2] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
